<center>
  <div id="page-title">
    <h3><%= @page_title %></h3><br>
  </div>

  <div id="action_options">
    <%= button_to "Discover Movies", discover_path, method: :get %>
    <br>
  </div>
</center>

<% @movies.each do |movie| %>
  <div id="movie-<%= movie %>">
    <h3>Title: <%= link_to "#{movie.title}", movie_path(movie.id) %></h3>
    <h5>Average Rating: <%= movie.rating %></h5>
    <hr>
  </div>
<% end %>