<center>
  <div id="page-title">
    <h3><%= @current_user.name %>'s Dashboard</h3>
    <br>
  </div>

  <div id="action_options">
    <%= button_to 'Discover Movies', discover_path, method: :get %>
    <br>
  </div>
</center>

<div id="view-parties-<%= @current_user.id %>">
  <center>
    <h4>Viewing Parties</h4>
  </center>
  <div id="parties-list">
    <% @current_user.parties.each do |party| %>
      <span id="party-<%= party.id %>">
        <p><%= link_to party.find_title, movie_path(party.movie_id) %></p>
        <p><%= image_tag(party.find_image_url, size: "200x300") %></p>
        <p><%= party.start_date %> <%= party.time %></p>
        <p> You are: 
          <% if party.host_id == @current_user.id %>
            <%= "Hosting" %>
          <% else %>
            <%= "Invited - #{party.find_host} is Host" %>
          <% end %>
        </p> 
        <br>
        <h3>Guest List:</h3>
          <ul>
            <% party.users.each do |user| %>
            <li><%= user.name %></li>
            <% end %>
          </ul>
      </span>
    <% end %>
  </div>
</div>